body {
    margin: 0;
    padding: 0;
    background-color: #999;
}

.wrap,.banner1,.banner2,.banner3 {
    position: absolute;
    width: 300px;
    height: 300px;
}

.wrap {
    top: 50px;
    left: 150px;
}

.banner1 {
    top: 50px;
    left: 700px;
}

.banner2 {
    top: 500px;
    left: 150px;
}

.banner3 {
    top: 500px;
    left: 700px;
}

.item1 {
    background-color: #fcd;
}

.item2 {
    background-color: #ce0;
    width: 1000px;
    height: 10px;
}

.item3 {
    background-color: #007;
}

.item4 {
    background-color: #e71;
}

#wrap {
    height: 600px;
}
