ul,
li {
    margin: 0;
    padding: 0;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}
.boxwrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper .box {
    position: absolute;
    top: 0;
    left: 0;
}
.swiper .box:after{
    content:'';
    display: block;
    clear:both;
    visibility: hidden;
}
.swiper .box>* {
    float: left;
}

.swiper .box .active-item {
    z-index: 2;
}

.swiper .pre,
.swiper .next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

.swiper .pre {
    left: -20%;
}

.swiper .next {
    right: -20%;
}

.swiper .dots-list {
    position: absolute;
    bottom: -20%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.swiper .dots-list .dot-item {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.swiper .dots-list .dot-item.active {
    background-color: #eed708;
}
