.swiper{
	position: relative;
}
.swiper .box>* {
    float: left;
}

.swiper .box {
	position: absolute;
	top: 0;
	left: 0;
}
.swiper:after {
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}
.swiper .pre,.swiper .next {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 20px;
	height: 40px;
	color: #fff;
	background-color: #000;
	z-index: 2;
}
.swiper .pre {
	left: 20%;
}
.swiper .next {
	right: 20%;
}
